.cuisines__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.cuisines h3{
    font-family: var(--font-playfairBold);
    font-size: 50px;
    margin: 0;
    margin-bottom: 15px;
    background: var(--color-goldGradient);
    text-align: center;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}