.cuisine {}

.cuisine__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cuisine__title h4 {
    font-family: var(--font-AgencyFB);
    font-size: 25px;
    margin-bottom: 0;
    background: var(--color-goldGradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.swiper-wrapper {
    padding: 50px;
}

.swiper-slide {
    height: fit-content !important;
    width: 320px !important;
}