.notfound{
    height: 100vh;
    background: url("../../assets/images/404.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notfound h3{
    text-align: center;
    font-family: var(--font-playfairBold);
    font-size: 300px;
    margin: 0;
    margin-top: -150px;
}

.notfound p{
    font-family: var(--font-biryaniBold);
    font-size: 40px;
}

.notfound h3, .notfound p{
    background: var(--color-brownGradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
}